.banner {
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url("https://wallpapercave.com/wp/wp6889318.jpg"); */
  background-size: cover;
  height: 440px;
  color: white;
}
.content {
  padding-top: 140px;
  height: 190px;
  padding-left: 15px;
}
.title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.play {
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
  margin-right: 1rem;
}
.play:hover {
  color: black;
  background-color: #e6e6e6;
}
.description {
  width: 60 rem;
  line-height: 1, 3;
  padding-top: 1rem;
  font-size: 1rem;
  height: 80px;
  max-width: 467px;
}
.fade{
    height: 7rem;
    background: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}
/* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url("https://wallpapercave.com/wp/wp6889318.jpg"); */